<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taicd.browserIP"
    android:versionCode="1"
    android:versionName="1.0.1">

    <application
        android:name="com.yunkai.browser.Application.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="${app_icon}"

        android:label="${app_name}"
        android:theme="@style/WelcomeTheme"
        tools:replace="android:icon,android:theme,android:name,android:label">
        <!--android:theme="@android:style/Theme.NoTitleBar"
        android:theme="@style/AppTheme"
        -->

        <activity android:name="com.yunkai.browser.activity.WebViewActivity" />

        <activity
            android:name="com.yunkai.browser.activity.PhoneHomeAppActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.yunkai.browser.activity.SearchInfoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />


        <activity
            android:name="com.yunkai.browser.activity.AccountInfoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <activity android:name="com.yunkai.browser.nfc.NFCActivity" />
        <activity android:name="com.yunkai.browser.scan.ScannerActivity" />

        <!--二维码相关-->
        <activity
            android:name="com.yunkai.browser.zxing.app.CaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yunkai.browser.zxing.app.PreferencesActivity"
            android:screenOrientation="portrait" />

        <!--文件管理器相关authorities="你的包名+fileprovider" --><!-- 打包两个apk的话，要修改包名 -->
        <!--android:authorities="com.bang.ticket.fileprovider"-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.aidegroup.ticket.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


    </application>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!--硬件支持-->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- NFC权限声明 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 二维码扫描相关权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 多媒体相关 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
</manifest>
